/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

body {
  background-color: #eae2b7;
  color: #003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
}

/* Headings */
h1,
h2,
h3 {
  font-family: "Playfair Display", Times, serif;
  text-align: center;
}

/* Header */
header {
  text-align: center;
}

/* Containers */

/* Fixed margin here so web layout lined up properly */

div {
  background-color: #eae2b7;
  margin-inline: auto;
  width: 600px;
  
}

/* added flex box here */

section.portfolio-item{
  display: flex;
  flex-direction: column;
  width:30%;
}

/* added flex box here */ 

.container {
  display: flex;
  
}

/* added flex box here and adjusted space around to even it out */

.container2 {
  display: flex;
  justify-content: space-between;

}

/* added container to adjust text */

#box1{
  display: inline-block;
  text-align: left;

}


article {
  padding: 50px 0;
 
  
}

/* centered text*/ 

article div {
  text-align: center;
  width: 100%;
  
}

/* Paragraphs */
p {
  line-height: 1.5;
  
}

/* Links */
a:link {
  color: #d62828;
}

a:hover {
  color: #f77f00;
}

nav a {
  padding-left: 20px;
}

/* Images */
img {
  width: 100%;
  max-width: 200px;
  height: auto;
  display: flex
}

.image-circle {
  border: 2px solid #003049;
  border-radius: 50%;
  float: left;
}

/* Footer */
footer {
  text-align: center;
}

/* Other page elements */
hr {
  border: 1px solid black;
}
